@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    font-family:'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0 0 0 8%;
    font-family: Arial, sans-serif;
    background-color: #EDEBE3;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.info {
    margin-top: -10%;
    width: 40%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}



.nome{

    margin-left: 20px;
    padding: 20px;
}

.genero{
    margin-left: 20px;
    padding: 20px;
}

.nascimento{

    margin-left: 20px;
    padding: 20px;
}

.email{

    margin-left: 20px;
    padding: 20px;
}

.rnome{
    margin-top: 3%;
    margin-bottom: 3%;

    margin-left: 10%;
}

.seleciona{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 17%;

    margin-left: 10%;
    border: none;

}

.rnascimento{
    margin-top: 3%;
    margin-bottom: 3%;

    margin-left: 10%;
}

.remail{
    margin-left: 10%;
}

.detalhes {
    display: flex;
    flex-direction: column;
    font-weight: normal;
}

.images{
    display: flex;
    flex-direction: column;
    background-color: #CDCBC6;

    margin-left: auto;
    width: 70vh;
    height: 100vh;
    align-items: center;
    z-index: 110000;
}

.images .material-symbols-outlined{
    margin: 12%;
    font-size: 200px;

}

.images .editar{
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.image1{
    width: 5%;
    height: 10%;
    position: absolute;
    margin: 35% 0 0 -12%;

}

.editar{
    cursor: pointer;
    margin-top: 30%;
}

h2{
    position: absolute;
    margin: 37% 0 0 5%;
}

.image1 h2{
    align-items: center;
    justify-content: center;
}

.salvar{
    width: 250px;
    height: 50px;
    border: none;
    color: white;
    background-color: #606060;
    border-radius: 15px;
    display: flexbox;
    margin-left: -38.5%;
    cursor: pointer;
    margin-top: 500px;
    box-shadow: 0px 6px 15px rgba(0,0,0,10);
}