body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #F5F5F5;
    overflow: hidden;
}

.main{
    height: 100vh;
    margin: 2rem;
}

.header-main{
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem;
}

.logo-header-main{
    height: 100%;
    width: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile-header-main{

}

.profile-header-main a{
    text-decoration: none;
}

.logo-img-main{
    transition: .2s;
    height: 6em;
}

.logo-img-main:hover{
    scale: 1.1;
}


.input-header-main{
    height: 100%;
    width: 30em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.input-header-main .input-item-header-main{
    height: 2.4rem;
    width: 20rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    outline: none;
    padding: 0 0 0 1em;
    background-color: #CDCBC6;
}

.main-main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.test-main{
    height: 50%;
    width: 100%;
    margin: 0 -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    border: 2px solid black;
    
}

.test-main a{
    text-decoration: none;
    transition: .8s;
}

.test-main a:hover{
    scale: 1.3;
    transform: rotate(1.5deg);
}

.test-main-vocac{
    background-color: #606060;
    width: 20rem;
    height: 6rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    color: white;
}

.test-main-vocac .teste-main-begin{
    color: white;
    border-bottom: solid 1px #888885;
}

.pages-main{
    background-color: #606060;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}
